@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

html {
    font-family: 'Share Tech Mono', monospace;
}

h1 {
    margin-top: 20px;
    background-color: rgba(65, 65, 65, 0.3);
}

h2 {
    font-style: bold;
}

dt::before {
  content: "• ";      /* the bullet */
  color: black;       /* change colour if needed */
  font-weight: bold;  /* optional */
}

dd {
    margin-bottom: 10px;
}

nav {
    background-color: rgba(160, 0, 0, 0.3); 
    display: flex;
    align-items: center;
}

nav a {
    font-size: 20px;
    padding-right: 20px;
    color: black;
}

a {
    font-size: 32px;
}

nav form {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

nav input{
    line-height: 1;
    padding: 0;
    vertical-align: middle;
}
